@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;

  overflow-x: hidden;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}